/* general */
:root {
  --main-color: #4aa35a;
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.ease {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10%);
  transition: all 0.3s ease;
}

.show-ease {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}

/* auth layout */

.auth-container {
  min-height: 100vh;
  background-image: url(../src/assets/ella-olsson-C1Q3qOTlegg-unsplash1.jpg);
  background-size: cover;
  background-position: center;
}
.auth-container form span.text-danger {
  margin-top: -1rem;
  margin-bottom: 1rem;
  display: block;
}
.register {
  background-image: none;
}
@media (min-width: 768px) {
  .register .side {
    width: 50%;
  }
}

.register .input-group {
  width: 95%;
  margin-inline: auto;
}

.bg-layer {
  background: linear-gradient(
    45deg,
    rgba(46, 140, 51, 0.6),
    rgba(0, 0, 0, 0.6)
  );
}
.bg-layer .row {
  min-height: 100vh;
  margin-inline: auto;
}

/* login */

.auth-link2 {
  color: var(--main-color);
}
.auth-link:hover {
  text-decoration: underline !important;
}

.auth-btn {
  background-color: var(--main-color) !important;
  width: 100%;
  margin-top: 2rem;
  color: white !important;
}
.auth-btn:hover {
opacity: 0.7;
}
.btnn{
  width: fit-content;
}

.auth-container .input-group,
.change-pass .input-group {
  border-radius: 5px;
  overflow: hidden;
}
.auth-container .input-group > *,
.change-pass .input-group > * {
  background-color: #f7f7f7 !important;
  color: #8391a1;
  box-shadow: none;
}

.auth-container .input-group icon,
.change-pass .input-group icon {
  border-right: solid 1px #8391a1 !important;
}

/* sidebar */
.SidebarDiv {
  min-height: 100%;
}

.master .SidebarDiv .ps-sidebar-root {
  background-color: #1f263e !important;
  border: none;
  height: 100%;
  padding-top: 1.5rem;
  color: white;
  min-width: 100px;
  border-top-right-radius: 60px;
  overflow: hidden;
}

.master .SidebarDiv ul {
  width: 87%;
}

.SidebarDiv .ps-sidebar-root :first-child {
  background-color: transparent;
}
.SidebarDiv li a {
  margin-block: 0.7rem;
  border-left: transparent solid 3px;
}
.SidebarDiv .ps-menu-root .css-ewdv3l li a:hover {
  background-color: hsla(152, 100%, 29%, 10%) !important;
  border-left: #4aa35a solid 3px;
}
/* master layout */
.master {
  min-height: 100vh;
  width: 100%;
}
.mainDiv {
  flex-grow: 1;
}
.mainDiv span{
  color: rgb(170, 170, 170);
}
.mainDiv .navbar .navbar-nav .nav-item .nav-link {
  font-size: 1.2rem !important;
  color: #2f313f !important;
}
.mainDiv .navbar .nav-item img {
  width: 3rem;
  height: 3rem;
  object-position: center;
  object-fit: cover;
  padding: 0.2rem;
  margin-inline: 0.5rem;
}

.mainDiv .navbar .email {
  color: var(--main-color) !important;
}

.mainDiv #bell-d {
  font-size: 1.5rem !important;
}
.mainDiv #bell {
  font-size: 13px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  border-radius: 50%;
  height: 18px;
  width: 18px;
  position: absolute;
  top: 3px;
  right: -2px;
}
/* header */
.headerDiv {
  background-color: #009247;
  min-height: 4rem;
  padding-inline: 1rem;
}

.header-bg {
  position: absolute;
  margin-left: -5%;
  margin-top: -3%;
  min-width: 110%;
  top: 0%;
  left: 0;
}
.headerDiv h2 {
  font-size: 40px;
  font-weight: 700;
  text-wrap-mode: nowrap;
}
.headerDiv p {
  font-size: 16px;
  font-weight: 400;
}
.headerDiv span {
  font-size: 32px;
  margin-inline: 1rem;
  font-weight: 400;
  color: #dfe0e0;
}
/* fill recipes */

.fillrecipes {
  background-color: #f0ffef;
  padding: 1.5rem;
  padding-inline: 3rem;
}
.fillrecipes div {
  color: #1f263e;
}
.fillrecipes div span {
  color: var(--main-color);
  margin-inline: 0.5rem;
}
.fillrecipes button,
.small-header button,
.robot button {
  color: white;
  background-color: var(--main-color);
  font-weight: 600;
  text-wrap-mode: nowrap;
}
/* lists  */

.table-striped > tbody td {
  vertical-align: middle;
  padding-block: 1rem;
}
.table-striped > tbody > tr > * {
  border: none;
}
.table > thead {
  vertical-align: middle;
  --bs-table-bg: #e2e5eb;
}

.table > thead tr th {
  padding-block: 2.3rem;
  border-bottom: none;
}
.table > thead tr :first-child {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.table > thead tr :last-child {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
/* 
.categories-list tr :last-child{
  padding-right: 5%;
  text-align: end;
} */

.table-striped > tbody > tr,
.table-striped > thead > tr {
  text-align: center;
}

.table-striped > tbody > tr > * {
  --bs-table-color-type: #3a3a3d !important;
}
.table-striped > tbody > tr:nth-of-type(even) > * {
  --bs-table-bg-type: #f8f9fb !important;
}

.table-striped > tbody > tr:nth-of-type(odd) > * {
  --bs-table-bg-type: white !important;
}

.list td.position-relative i {
  cursor: pointer;
  padding: 3px;
}
.list td div {
  flex-direction: column;
  background-color: white;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  position: absolute;
  z-index: 3 !important;
  display: flex !important;
  width: 11rem;
  right: 0;

  top: 60%;
  overflow: hidden;
}

.list .fa-bars {
  cursor: pointer;
}

.list td div button {
  text-align: left;
  padding-left: 10%;
  padding-block: 3%;
}
.list td div button:hover {
  opacity: 0.5 !important;
}
.list td div button i {
  color: var(--main-color);
  margin-right: 10%;
}
.list td div button:nth-of-type(2) {
  background-color: #f8f9fb;
}
.list tbody Img {
  width: 5rem;
  /* padding: 0.5rem; */
  margin: 0.4rem;
}
.list td div button:first-of-type i {
  /* border-radius: 50%; */
  /* border: solid 1px var(--main-color); */
  /* padding: 2%; */
  /* font-size: 0.8rem; */
}

/* notfound */
.notfound {
  background-image: url(./assets/Vector.png);
  background-position: right;
  background-repeat: no-repeat;
}
.robot {
  background-image: url(./assets/Group48101676.png);
  background-position: bottom right;
  background-repeat: no-repeat;
  width: 100%;
  position: absolute;
  height: 100%;
  bottom: 0;
  right: 0;
  color: #1f263e;
}

.robot img {
  width: 20rem;
}
.robot h1 {
  font-size: 40px;
  font-weight: 700;
}
.robot span {
  color: var(--main-color);
  margin-bottom: -30px;
  font-weight: 400;
  font-size: 32px;
}
.robot span {
  font-weight: 400;
  font-size: 32px;
}
.robot .maindiv {
  gap: 10rem;
}
.robot .maindiv .text {
  padding: 1rem;
}

/* nodata */
.nodata {
  height: fit-content;
}
.nodata div {
  margin-inline: auto;
  color: #1f263e;
  text-align: center;
}
.nodata div p {
  color: #49494999;
}

/* deletion card */
.modal {
  --bs-modal-header-border-width: none !important;
}
.modal-backdrop.show {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.delete-content {
  margin-inline: auto;
  text-align: center;
  margin-bottom: 1rem;
}
.modal-content button.btn {
  min-width: 9rem !important;
}

/* change-pass */
.change-pass {
  top: 0;
  left: 0;
  width: 100%;

  z-index: 10;

  min-height: 100vh;

  & > div {
    box-shadow: 1px 1px 15px 2px #0000002b !important;
  }
}

.change-pass .logo i {
  right: 8%;
  top: 29% !important;
  font-size: x-large;
  cursor: pointer;
}

/* laoding screen */

.loading-screen {
  height: 25rem;
  i {
    color: var(--main-color);
    font-size: 5rem;
  }
}
/* category-form */
.modal.show .modal-dialog {
  /* padding-top: 20%; */
}

.category-form {
  input {
    background-color: #dfe0e0;
    border: none;
    outline: none;
    padding: 0.3rem;
    padding-inline: 1rem;
    border-radius: 6px;
  }
  Button {
    background-color: var(--main-color) !important;
    padding-inline: 1rem;
    border: none;
  }
}

/* page selector */

.pagination.page {
  justify-content: center;
  --bs-pagination-active-bg: var(--main-color);
  --bs-pagination-active-border-color: var(--main-color);
  --bs-pagination-focus-color: var(--main-color);
  --bs-pagination-color: var(--main-color);
  --bs-pagination-hover-color: var(--main-color);
}

.pagination .dots a {
  border-block: none;
}
.pagination .dots1 a {
  border: none;
  font-weight: 700;
}

.pagination a:focus {
  box-shadow: none;
}

/* search-bar */
.search-bar {
  margin-block: 0.7rem;
  display: flex;
  justify-content: space-between;
  /* gap: 2%; */
}
.search-bar input,
.search-bar .drop {
  flex-grow: 1;
  margin-inline: 0.5%;
  border-color: #a3a9b6;
  border-style: solid;
  color: #a3a9b6;
  border-radius: 5px;
  padding: 0.2rem;
  padding-inline: 0.7rem;
  border-width: 0.1rem;
}

.search-bar .fa-magnifying-glass {
  top: 20%;
  left: 3%;
  color: #a3a9b6;
}

/* recipe-data-form */

.recipe-data form {
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  align-items: center;
  gap: 15px;
  margin-block: 50px;
}
.recipe-data form .data-input {
  display: block;
  width: 90%;
  background-color: #f7f7f7;
  border-radius: 12px;
  border: none;
  padding-inline: 4%;
  padding-block: 1%;
  font-weight: 500;
  font-size: 15px;
  color: #1f263e;
}
.recipe-data form .data-input:focus {
  box-shadow: 0 0 0 0.2rem #4aa35a50 !important;
  border-color: #4aa35ab2 !important;
  border: none;
  outline: none;

}

.recipe-data form img {
 height: 11rem;
 border-radius: 8px;
 box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);

}
.recipe-data form .img-input label{
  cursor: pointer;
  padding-block: 1rem;
  
}
.recipe-data form .img-input {
  background-color: #f1fff0 !important ;
  border: dashed 2px var(--main-color);
  flex-grow: 1;
  margin-bottom: 3rem;
  
}

.recipe-data form .img-input i {
  font-size: 1.8rem;
  margin-block: 0.5rem;
  padding-inline: 1rem;
  margin-inline: auto;
  cursor: pointer;
  width: fit-content;
}
.recipe-data form .img-input span {
  color: var(--main-color);
  margin-block: 1rem;
}

.recipe-data form .form-footer {
  border-top: solid 2px #f7f7f7;
  width: 100%;
  margin-top: 3%;
}
/* favs */

.recipe-card:hover {
  opacity: 0.7;
  scale: 1.02;
}
.recipe-card {
  transition: all 0.2s;
  height: 25rem;
  margin-block: 5%;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.recipe-card .img-div {
  height: 57%;
  overflow: hidden;
}

.recipe-card .img-div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.recipe-card .details {
  height: 50%;
  overflow-y: auto;
  padding: 1rem;
  border-radius: 10px;
  font-family: system-ui;
  color: #1f263e;
}

.recipe-card .details::-webkit-scrollbar {
  width: 8px;
}

.recipe-card .details::-webkit-scrollbar-track {
  background: #f3f3f3;
  border-radius: 10px;
  cursor: pointer;
}

.recipe-card .details::-webkit-scrollbar-thumb {
  background: #040d4233;
  border-radius: 10px;
}

.recipe-card .details h3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  padding: 1%;
}

.recipe-card .details h3 span {
  font-size: 1.2rem;
  font-weight: bold;
  color: rgba(46, 140, 51, 0.8);
}
.recipe-card .fa-heart:hover {
  color: rgb(206, 163, 163);
}
.recipe-card .fa-heart {
  font-size: 1.5rem;
  top: 2%;
  right: 2%;
  padding: 3%;
  /* color: rgb(224, 35, 35); */
  color: var(--main-color);
  background-color: rgba(255, 255, 255, 0.61);
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 35%;
  cursor: pointer;
}
/* toastCustomClass */
.toastCustomClass {
}
/* recipe-card */

/* profile */
.Profile-form {
  padding-left: 1rem;
}
.Profile-form .img-div {
  width: 19rem;
    height: 19rem;
    margin-bottom: 5rem;

}
.img-div p{
height: 1rem;
padding-block: 1rem;
}
.Profile-form img {
  border-radius: 10px;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}
.Profile-form .input-group strong {
  color: var(--main-color);
}
.Profile-form .input-group {
  align-items: center;
  font-weight: 400;
  font-size: 1.2rem;
  gap: 0.3rem;
  color: #1f263e;
}
.Profile-form .img-input {
  display: flex !important;
  align-items: end;
  gap: 1rem !important;
  margin-block: 2rem !important;
}
.Profile-form .img-input label .btn:hover {
  opacity: 0.7;
}
.Profile-form .img-input label .btn {
  border-radius: 10px;
  padding: 6px;
  padding-inline: 15%;
  background-color: var(--main-color);
  opacity: 0.9;
  color: white;
  font-weight: 400;
  font-size: 0.9rem;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
  text-wrap-mode: nowrap;
  margin-inline-start: 1rem;
  margin-bottom: 5rem;
}
.Profile-form input,
.pass {
  margin-left: 1rem !important;
  border-radius: 5px !important;
}
.Profile-form .form-control:disabled {
  background-color: transparent;
  border: none;
  margin-left: 0 !important;
}
.Profile-form .input-group button {
  background-color: transparent;
  margin-inline: 0.2rem;
  color: grey;
}
.Profile-form .main-btn {
  width: 20%;
  min-width: fit-content;
  margin-left: auto;
  display: block;
  text-wrap-mode: nowrap;
}
.Profile-form span {
  background-color: antiquewhite;
  margin-bottom: 20px;
  padding-inline: 1%;
  margin-inline: auto;
  display: block;
  width: fit-content;
  margin-top: -8px;

}

/* pop-card (user - recipe) */
.popup-card .modal-content content {
text-align: start;
width: 100%;
padding: 1rem;
}


.popup-card .modal-content .img-div{
margin-inline: auto;
border-radius: 15px;
width: 40%;
box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
overflow: hidden;
}
.popup-card .modal-content .card-details{
padding: 2rem;
font-family: system-ui;
}
.popup-card .modal-content strong{
color:var(--main-color);
font-weight: 600;
font-size: 1.2rem;
margin-right: 0.5rem;
}
.popup-card .modal-content p{
color:gray;
}
.popup-card .modal-content .fav-btn{
background-color: rgb(156, 10, 10);
color: white;
margin-left: auto;
display: block;

}
.popup-card .modal-content .fav-btn:hover{
opacity: 0.7;
}
.recipe-title{
  text-align: center;
  color:var(--main-color);
  font-family: auto;
   margin-bottom: 1.5rem;
}

/* Small (SM) */
@media (min-width: 576px) {
}

/* Medium (MD) */
@media (min-width: 768px) {
}

/* Large (LG) */
@media (min-width: 992px) {
}

/* Extra Large (XL) */
@media (min-width: 1200px) {
}

/* Extra Extra Large (XXL) */
@media (min-width: 1400px) {
}
